---
// component imports
import Link from "@components/Link.astro";
import MainLayout from "@layouts/MainLayout.astro";

// image library import
import { Image } from "astro:assets";

import fourOhFour from "@/assets/404.png";
---

<MainLayout
  title="Page Not Found"
  description="Sorry, we didn't found the requested page"
>
  <div
    class="container"
    style={{
      display: "grid",
      placeItems: "center",
      textAlign: "center",
      gap: "var(--space-sm)",
    }}
  >
    <div>
      <Image
        src={fourOhFour}
        alt=""
        width={700}
        height={700}
        format="webp"
        quality={"high"}
        class="fourohfour"
      />
      <h1 class="h1">Help me Obi Wan Kenobi...</h1>
      <p>It seems that something went wrong!</p>
      <Link
        href="/"
        style="secondary"
        text="Go Home"
        icon={{ name: "mdi:home-import-outline", side: "right" }}
      />
    </div>
  </div>
</MainLayout>
