---
// component imports
import Link from "@components/Link.astro";
import MainLayout from "@layouts/MainLayout.astro";
---

<MainLayout title="About" description="This is About page">
  <section class="container about" aria-label="About Us">
    <img
      src="/images/rl.webp"
      alt="Raúl Lacabanne photo"
      width="200"
      height="200"
    />
    <div class="content">
      <h1 class="h1">Raúl Lacabanne</h1>
      <p>
        <strong>Profesor Titular.</strong> Trabajador docente en la UNQ y la UNA.
        Lic. en CCME (UNQ) y Máster en AD (UPF). Me interesa lo que emerge entre
        los límites de la poética, la tecnología y la política. IN GIRUM IMUS NOCTE
        ET CONSUMIMUR IGNI.
      </p>
      <Link href="mailto:knnv.ar@gmail.com" style="primary" text="Contact Me" />
    </div>
    <img
      src="/images/mg.png"
      alt="Mauricio Gutiérrez photo"
      width="200"
      height="200"
    />
    <div class="content">
      <h1 class="h1">Mauricio Gutiérrez</h1>
      <p>
        <strong>Profesor Adjunto.</strong> Licenciado en Artes Multimediales por
        de la UNA. Produce obras a partir de la experimentación en múltiples disciplinas
        artísticas, materialidades, soportes y medios, concentrándose en prácticas
        tanto instalativas como performáticas. Desde 2011 conforma un grupo de arte
        experimental llamado A.S.M.A Multimedia, junto a los artistas Sebastián Zavatarelli
        y Adelina Ducos. Ha participado en distintas presentaciones académicas, exposiciones
        y festivales. Ejerce como docente en varias universidades. Desde 2014 en
        la carrera Licenciatura en Artes Multimediales de la UNA, donde actualmente
        desempeña tareas de Adjunto en las asignaturas Artes Multimediales 1 y Artes
        Multimediales 4. También se desempeña como docente a cargo en las unidades
        curriculares “Programación Orientada al Arte Multimedia” niveles 1 y 2, pertenecientes
        a la Licenciatura en Artes y Tecnologías en la Universidad Nacional de Quilmes,
        y dicta un seminario en la Diplomatura en Música Expandida en el Institutos
        de Artes Mauricio Kagel de la Universidad Nacional de San Martín. En la actualidad
        asume el cargo de Prosecretario de la prosecretaría de Extensión y Bienestar
        Estudiantil en Área Transdepartamental de Artes Multimediales de la UNA.
        Dentro del ámbito científico ha participado en distintos proyectos de investigación
        y producción vinculados a la relación entre arte y tecnología, ya sea en
        formas instalativas y/o performáticas.
      </p>
    </div>
    <img
      src="/images/mb.png"
      alt="Mirna Barreiro photo"
      width="200"
      height="200"
    />
    <div class="content">
      <h1 class="h1">Mirna Barreiro</h1>
      <p>
        <strong>Jefa de trabajos Prácticos.</strong> Licenciada en Música y Tecnología
        (UNQ) y Diseñadora de Imagen y Sonido (UBA). Jefa de Trabajos Prácticos de
        la asignatura Artes Multimediales 4 de la carrera Licenciatura en Artes Multimediales
        de la UNA (comenzando en 2012, como ayudante de 1ra). Anteriormente, Jefa
        de Trabajos Prácticos de Introducción a las Artes Multimediales de la UNA
        (2012-2017). Se desempeña profesionalmente en las siguientes áreas: programación
        y electrónica aplicadas al arte, desarrollo web, postproducción de video,
        animación en diferentes técnicas (motion graphics, animación por programación,
        stop motion, 3D), VJing, escenografías virtuales, composición y ejecución
        musical. Desarrolló su experiencia en el ámbito académico (como docente y
        participante en proyectos de investigación) como en el ámbito privado (en
        productoras, agencias de publicidad y en modalidad freelance). Además, participa
        de actividades artísticas performáticas, como acrobacia aérea, VJing en el
        marco de diferentes eventos y es tecladista y cantante de una banda.
      </p>
    </div>
  </section>
</MainLayout>
