---
// component imports
import MainLayout from "@layouts/MainLayout.astro";
---

<MainLayout
  title="<la-piscine> art gallery"
  description="This is <la-piscine> gallery"
>
  <p>This is Homepage</p>
</MainLayout>
