---
// component imports
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout
  title="<la-piscine> art galleryk"
  description="This is <la-piscine> gallery"
>
  <p>This is Homepage</p>
</MainLayout>
