---
import { getCollection } from "astro:content";

// component imports
import MainLayout from "@layouts/MainLayout.astro";
import PostCard from "@components/PostCard.astro";

import { formatExhibWorks } from "../js/utils";

//const allArtworks = await Astro.glob("@exhib/**/*.{md,mdx}");
// Get all `src/content/exhib/` entries
const allArtworks = await getCollection("works", ({ data }) => {
  return !data.draft && data.publicationDate < new Date();
});
const formatedWorks = formatExhibWorks(allArtworks);
//<PostCard frontmatter={artwork.data} url={artwork.url} tagType="h2" />
---

<MainLayout
  title="<la-piscine> 2023 Exposition"
  description="AM1 2023 Exposition"
>
  <section class="container" aria-label="New Expo Artworks">
    <h1 class="h1">New Exhibition Artworks</h1>
    <div class="post-container">
      {
        allArtworks.map((artwork) => (
          <PostCard
            frontmatter={artwork.data}
            url={`/works/${artwork.slug}/`}
            tagType="h2"
          />
        ))
      }
    </div>
  </section>
</MainLayout>
