---
// component imports
import MainLayout from "../../layouts/MainLayout.astro";
---

<MainLayout
  title="<la-piscine> 2023 Exposition"
  description="AM1 2023 Exposition"
>
  <p>This is 2023 Exposition</p>
</MainLayout>
