---
// component imports
import MainLayout from "../../layouts/MainLayout.astro";
---

<MainLayout
  title="<la-piscine> 2023 Exposition"
  description="AM1 2023 Exposition"
>
  <ul>
    <li>
      <a href="./post-01">Post 01</a>
    </li>
    <li>
      <a href="./post-02">Post 02</a>
    </li>
    <li>
      <a href="./post-03">Post 03</a>
    </li>
  </ul>
</MainLayout>
