---
// component imports
import MainLayout from "../../layouts/MainLayout.astro";
import PostCard from "../../components/PostCard.astro";

const allArtworks = await Astro.glob("/src/exhib/**/*.{md,mdx}");
---

<MainLayout
  title="<la-piscine> 2023 Exposition"
  description="AM1 2023 Exposition"
>
  <section class="container" aria-label="New Expo Artworks">
    <h1 class="h1">New Expo Artworks</h1>
    <div class="post-container">
      {
        allArtworks.map((artwork) => (
          <PostCard
            frontmatter={artwork.frontmatter}
            url={artwork.url}
            tagType="h2"
          />
        ))
      }
    </div>
  </section>
</MainLayout>
